/* .header{
  display: flex;
  justify-content: space-between;
  border: 1.5px solid red;
}
.logo{
  width: 150px;
}
.nav-items ul {
  display: flex;
  margin: 10px;

}
body{
  background-color: rgb(202, 212, 212);
}

.nav-items li {
  font-size: 24px;
  padding:  10px;
  margin: 10px;
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: 500;
}
.search{
  font-weight: bold;
 
}
.res-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
}
.res-card{
  margin: 5px;
  width: 300px;
  height: 550px ;
  padding: 5px;
  text-decoration: none;
 border-radius: 5px;
  background-color: rgb(244, 226, 226);
}
.res-card:hover{
  border: 1.5px solid rgb(171, 154, 24);
  border-radius: 5px;
  cursor: pointer;
}
.img-food{
  width:100% ;
}

.btn{
  background-color: rgb(115, 115, 243);
  color: white;
  width: 250px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
.shimmer{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.shimmer-card{
  margin: 10px;
  height: 300px;
  width: 2800px;
  background-color: #f0f0f0;
}
.login{
  padding: 0 20px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  border: 5px rgb(0, 234, 255) solid;
}
.login:hover{
  background-color: rgba(202, 141, 141, 0.783);
}
.filter{
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
.search-box{
  margin: 10px;
  width: 250px;
  height: 35px;
  background-color: yellow;
}
.serach-btn{
  width: 250px;
  margin: 10px;
  height: 40px;
  border: 2px navy solid;
  background-color:#008CBA;
  color: rgba(255, 255, 255, 0.699);
  font-weight: 700;
}
.link{
  text-decoration: none;
}
.user-card{
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: rgb(236, 235, 231);
}
.menu-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-item{
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 250px;
  border: 2px solid black;
  background-color: rgb(237, 218, 222);
transition: all 1s ease-in-out .5s;
}
.menu-item:hover{
  border: 5px solid red;
}
.menu{
  text-align: center;
  font-weight: 600;
  margin: 5px;
  border: 3px solid rgb(67, 64, 65);
  background-color: rgb(234, 224, 226);
}
.user-card{
  text-align: start;
  color: black;
} */
