.header{
  display: flex;
  justify-content: space-between;
  border: 1.5px solid red;
}
.logo{
  width: 150px;
}
.nav-items ul {
  display: flex;
  margin: 10px;
  
  
}
body{
  background-color: rgb(143, 173, 173);
}

.nav-items li {
  font-size: 24px;
  padding:  10px;
  margin: 10px;
  text-decoration: none;
  list-style: none;
  color: red;
}
.search{
  padding: 10px;
 
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}
.res-card{
  margin: 5px;
  width: 200px;
  padding: 5px;
  
 border-radius: 8px;
  background-color: rgb(244, 226, 226);
}
.res-card:hover{
  border: 1.5px solid rgb(171, 154, 24);
  border-radius: 5px;
  cursor: pointer;
}
.img-food{
  width:100% ;
 
}

.btn{
  background-color: rgb(115, 115, 243);
  
  color: white;
  width: 250px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
.shimmer-container{
  display: flex;
 
  
}
.shimmer-card{
  margin: 10px;
  height: 300px;
  width: 2800px;
  background-color: #f0f0f0;
}
.login{
  padding: 0 20px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  border: 5px rgb(0, 234, 255) solid;
}
.login:hover{
  background-color: rgba(202, 141, 141, 0.783);
}
.filter{
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
.search-box{
  margin: 10px;
  width: 250px;
  height: 35px;
  background-color: yellow;
}
.serach-btn{
  width: 250px;
  margin: 10px;
  height: 40px;
  border: 2px navy solid;
  background-color: blueviolet;
  color: rgba(255, 255, 255, 0.699);
}